@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
nav {
  background: #151515;
  padding: 5px 40px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #ed1d24;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: #ed1d24;
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #ed1d24, inset 0 0 10px #ed1d24;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}

.banner {
  position: relative;
  background-image: url("https://i.ytimg.com/vi/nyanm0xD6h8/maxresdefault.jpg");
  background-size: 100% 700px;
  align-items: center;
  height: 700px;
}

.name {
  color: white;
  font-size: 55px;
  width: fit-content;
  padding-top: 150px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}

.char {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  padding-bottom: 50px;
  top: 500px;
  width: 90%;
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border:2px red;
  border-style: solid;
}

.card {
  background-color: red;
  position: relative;
  width: 180px;
  margin: 20px 20px;
}

.card > img {
  width: 100%;
}

.bio > h1 {
    color: black;
  font-size: 55px;
  width: fit-content;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 40px;
}

.bio > p {
    text-align: center;
    margin-bottom: 30px;
}

.vid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.vidcon {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }